{% extends "base/base.html" %}
{% load static %}
{% block title %}
    Education
{% endblock title %}
{% block content %}
    <div class=" bg-gradient-to-r from-gray-800 via-gray-900 to-black max-w-4xl mx-auto py-10 px-4 bg-gray-700">
        <h1 class="text-3xl font-semibold text-center mb-8 text-white">Education</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            {% for edu in education_list %}
                <div class="bg-white bg-opacity-30 shadow-md rounded-lg p-6 hover:shadow-lg transform hover:scale-125 transition duration-300 ease-in-out hover:z-10">
                    {% if edu.image %}
                        <img src="{{ edu.image.url }}"
                             alt="{{ edu.level }}"
                             class="mx-auto mb-4 w-full h-48 object-contain rounded-t-lg">
                    {% endif %}
                    <h2 class="text-xl font-bold text-gray-900">{{ edu.level }}</h2>
                    <p class="text-sm text-white">{{ edu.institution_name }}</p>
                    <p class="text-xs text-gray-400 italic">{{ edu.start_date }} – {{ edu.end_date }}</p>
                    {% if edu.description %}<p class="text-sm text-white mt-3">{{ edu.description }}</p>{% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
