<nav class="bg-transparent text-gray-200 shadow-md py-3">
    <div class="max-w-screen-xl mx-auto">
        <ul class="flex flex-wrap justify-center gap-4">
            <li>
                <a href="#intro" class="bg-blue-900 text-blue-200 px-5 py-2 rounded hover:bg-blue-800 hover:shadow-blue-500/30 transition shadow">Intro</a>
            </li>
            <li>
                <a href="{% url 'base:education' %}" class="bg-blue-900 text-blue-200 px-5 py-2 rounded hover:bg-blue-800 hover:shadow-blue-500/30 transition shadow">Education</a>
            </li>
            <li>
                <a href="{% url 'base:skills' %}" class="bg-blue-900 text-blue-200 px-5 py-2 rounded hover:bg-blue-800 hover:shadow-blue-500/30 transition shadow">Expertise</a>
            </li>
            <li>
                <a href="#" class="bg-blue-900 text-blue-200 px-5 py-2 rounded hover:bg-blue-800 hover:shadow-blue-500/30 transition shadow">Blog</a>
            </li>
            <li>
                <a href="#" class="bg-blue-900 text-blue-200 px-5 py-2 rounded hover:bg-blue-800 hover:shadow-blue-500/30 transition shadow">Certifications</a>
            </li>
            <li>
                <a href="#contact" class="bg-blue-900 text-blue-200 px-5 py-2 rounded hover:bg-blue-800 hover:shadow-blue-500/30 transition shadow">Contact</a>
            </li>
        </ul>
    </div>
</nav>
