<nav class="bg-gray-800 text-white shadow-md">
    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
        <a href="{% url 'base:home' %}" class="text-2xl font-bold">Portfolio</a>
        <ul class="flex space-x-6">
            <li>
                <a href="#intro" class="hover:text-gray-400">Intro</a>
            </li>
            <li>
                <a href="#education" class="hover:text-gray-400">Education</a>
            </li>
            <li>
                <a href="#expertise" class="hover:text-gray-400">Expertise</a>
            </li>
            <li>
                <a href="#" class="hover:text-gray-400">Blog</a>
            </li>
            <li>
                <a href="#contact" class="hover:text-gray-400">Contact</a>
            </li>
        </ul>
    </div>
</nav>
